#recipes-count {
  min-height: 40px;
  vertical-align: middle;
  padding: 10px;
  font-size: 16px;
}

.tag-label {
  margin: 0 10px;
  font-size: 0.8rem;
}

.chef-name-label {
  margin: 0 10px;
  font-size: 0.8rem;
}
